<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="utf-8" />
        <title>WeHelp BootCamp Mission week 4</title>
        <link rel="stylesheet", type="text/css", href="/wehelp_w4.css" />

    </head>
    <body>
        <div class="welcome_title">
            正整數平方計算結果
        </div>
        <div class="signinPage">
            {{ans_number}}
        </div>
        <div class="signinPage">
            <a href="/">返回</a>
        </div>
    </body>
</html>
